/* ======================================================================================
   Author's custom styles
  =======================================================================================
*/
/* General Styles LIGHT THEME*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  color: #6c6c6c;
  background-color: white;
  /* Sometimes the default background for a browser isn't exactly white. Adding a default allows more consistency between browsers. */
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

a {
  color: #453e4f;
  text-decoration: none;
}

h1 {
  color: #6c6c6c;
  font-family: "Alike", serif;
  font-size: 3.5em;
}

h2 {
  font-family: "Alike", serif;
  font-size: 2em;
}

h3 {
  font-family: "Alike", serif;
  font-size: 1.8em;
}

h4 {
  font-family: "Alike", serif;
  font-size: 1.25em;
}

h5 {
  font-size: 1.5rem;
}

.about-info h4,
.contact-title {
  font-weight: 400;
}

h3,
h4,
h5,
h6 {
  font-family: "Alike", serif;
  line-height: 1.5;
  width: 100%;
}

p,
li {
  font-size: 1rem;
  line-height: 1.75em;
}

span {
  font-weight: bold;
}
img {
  width: 100%;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

h2 {
  margin-top: 60px;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  margin: 0 0 40px 0;
}

/* Structural Styles */
header,
#work,
#skills,
#about,
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.content-wrapper {
  width: 85%;
}

#work p,
#about p {
  width: 100%;
  text-align: left;
}

#about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.project-description {
  margin: 0 0 30px 0;
}

.project-link {
  margin: 40px 0 60px 0;
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #453e4f;
  margin: 40px 0 60px 0;
}

.about-info h3 {
  margin: 40px 0 40px 0;
}

.about-text {
  margin: 0 0 30px 0;
}

/*-----------Nav styles--------*/

.nav-logo {
  width: 60px;
  height: 60px;
  padding: 6px 0 0 6px;
  margin: 6px 0 6px 15px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 1.3em;
}

.nav-ul a {
  padding: 20px;
  text-transform: uppercase;
  color: #555555;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 1.5em;
}

ul#nav-ul {
  margin: 30px;
}

nav #contact-link {
  background-color: #f19494;
  padding: 8px 8px;
  border-radius: 30px;
}

nav ul li a:hover,
nav #contact-link:hover {
  background-color: #f8c6c6;
  color: #555555;
  padding: 8px 8px;
  border-radius: 30px;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #333333;
  font-size: 30px;
  cursor: pointer;
  display: none;
  padding-right: 30px;
}

.hamburger:focus {
  outline: none;
}

/*hero image*/
.hero {
  background-color: #ffe8d6;
}

/*position in header of front end dev intro*/
.header-box {
  position: absolute;
  top: 45%;
  left: 10%;
}

.header-box h1 {
  text-transform: none;
  color: #393939;
  font-size: 2em;
  /* text-shadow: 1px 1px 10px #ccc; */
  width: 100%;
}
.slide-in-right {
  -webkit-animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-26 11:16:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/*styling button in header*/
.header-box button {
  background: rgba(91, 5, 156, 0);
  text-transform: none;
  padding: 10px;
  margin: 25px 0;
  border: 2px solid white;
  color: #333333;
  transition: background 0.4s;
  border-radius: 0px;
}
button.fade-in {
  font-size: 0.7em;
}

.header-box button:focus {
  outline: none;
}

.fade-in {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2s both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2s both;
}

/* ----------------------------------------------
   * Generated by Animista on 2020-11-27 1:56:29
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

/**
   * ----------------------------------------
   * animation fade-in
   * ----------------------------------------
   */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*****FOOTER*****/

.content-wrapper {
  width: 85%;
}
footer {
  padding: 80px 0;
}

#contact h3 {
  margin-bottom: 60px;
}

.contact-info {
  margin: 0 0 60px 0;
}

.contact-title {
  margin: 0 0 40px 0;
}

footer {
  background: #ffe8d6;
  color: #393939;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

footer .contact-info {
  width: 60%;
}

footer h4 {
  width: 100%;
}

footer .follow-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

a.email {
  color: #393939;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
}

footer ul {
  width: 100%;
}

footer .social-icons li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-icons li i {
  font-size: 1.875rem;
  color: #453e4f;
}

footer .social-icons li i:hover {
  transform: rotate(1turn);
  transition: all 1s ease-in-out;
}

footer .contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*****WORK*****/

#work {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
}

#work .gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#work .gallery-item {
  box-sizing: border-box;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 50px 0;
}

.gallery-item figure {
  width: 100%;
  filter: drop-shadow(1px 2px 6px lightgrey);
}

.gallery-item .thumbnail:hover {
  transform: scale(1.1);
}

#work h2 {
  margin: 50px 0px 30px;
  text-align: center;
}

#work h3 {
  margin: 10px;
}

#work h4 {
  text-align: left;
  color: #65676a;
  margin: 30px 0;
}

.project-link {
  background-color: #453e4f;
  padding: 0.75rem 3.75rem;
  border-radius: 30px;
  color: #ffffff;
}

.project-link:hover {
  background-color: #cac4d1;
  color: #453e4f;
}

/*****SKILLS*****/
#skills {
  padding-bottom: 80px;
  padding-top: 80px;
}

.skills-header {
  margin-bottom: 20px;
}

#skills {
  width: 100%;
}

#skills {
  background-color: #ffe8d6;
}

#skills h4 {
  margin: 40px 0 40px 0;
  font-weight: bold;
}

.language-wrapper p,
.tool-wrapper p {
  background-color: #f19494;
  padding: 15px 0;
  margin: 20px 0;
}

.tool {
  width: 100%;
}

/*****ABOUT*****/

#about {
  width: 100%;
}

#profile-image {
  width: 90%;
}

#about h3,
#about h4,
#about p {
  color: #393939;
  text-align: left;
}

/* -- Styles for Alejandra's intro heading small screens -------*/
@media screen and (max-width: 540px) {
  .header-box h1 {
    letter-spacing: 1px;
    font-size: 2.5em;
    text-align: center;
    width: 90%;
  }

  h1.slide-in-right {
    margin: 100px auto 0;
    text-align: center;
    font-size: 2em;
  }
}

/*-------Media Queries start here-------*/

/*NAV styles for smaller screens*/
@media screen and (max-width: 900px) {
  nav {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 1;
  }

  .nav-ul a {
    color: #555555;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .nav-ul.show {
    display: flex;
  }

  .hamburger {
    display: block;
    padding-right: 50px;
  }
  .header-box h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 786px) {
  /*position header div in middle*/
  .header-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .hero {
    height: 80vh;
  }
}

/* ---- Media Queries for TABLETS ---- */
@media screen and (min-width: 768px) {
  .nav-logo {
    width: 80px;
    height: 80px;
  }
  /*position header div in middle*/
  .header-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .hero {
    height: 70vh;
  }
  .header-box h1 {
    font-size: 4em;
    letter-spacing: 1px;
    margin-bottom: 0px;
  }

  button.fade-in {
    font-size: 1.2em;
  }

  #about {
    padding: 80px 0;
  }

  .about-info h3 {
    margin: 80px 0;
  }

  .about-info h4 {
    margin: 0 0 60px 0;
  }

  .about-text {
    margin: 0 0 30px 0;
  }

  .about-content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  #about figure {
    width: 60%;
  }

  .about-info h4 {
    text-align: left;
  }

  #work h4 {
    text-align: center;
  }

  #work .gallery {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  #work .gallery-item {
    max-width: 45%;
  }

  .project-description {
    margin: 0 0 30px 0;
  }

  .project-link {
    margin: 40px 0 60px 0;
  }

  #skills {
    padding-bottom: 80px;
  }

  #skills {
    padding-top: 80px;
  }

  .skills-header {
    margin-bottom: 40px;
  }

  #skills h4 {
    margin: 40px 0 20px 0;
  }

  .language-wrapper,
  .tool-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-flow: row wrap;
    text-transform: uppercase;
  }

  .skill,
  .tool {
    /*  width: auto; */
    width: 45%;
  }

  .language-wrapper p,
  .tool-wrapper p {
    padding: 15px 0;
  }

  /* Footer */
  footer {
    padding: 140px 0;
  }

  footer {
    padding-bottom: 80px;
  }

  .contact-info {
    margin: 80px 0;
  }

  .contact-title {
    margin: 0 0 30px 0;
  }

  .contact-wrapper {
    display: flex;
    justify-content: space-between;
  }

  footer .contact-info {
    width: 33%;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  footer .social-icons {
    width: 12.5em;
    justify-content: space-between;
  }

  footer .social-icons li i {
    font-size: 2rem;
  }

  footer .copyright {
    width: 100%;
  }
  footer .contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 901px) {
  nav {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .nav-ul.show {
    display: flex;
  }

  .nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.2em;
  }

  .nav-ul a {
    color: #555555;
  }
}

@media only screen and (min-width: 1024px) {
  /* added for landscape tablets and iPad Pro */
  /* .content-wrapper {
    max-width: 900px;
  } */

  .about-info h3 {
    font-size: 3.5rem;
  }
}
/*--End of TABLET media query --*/

/*-------------------Media Queries for Desktop-------------*/

@media screen and (min-width: 1200px) {
  .navbar {
    overflow: hidden;
    background-color: white;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  /*position header div in middle*/
  .header-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .hero {
    height: 100vh;
  }
  .header-box h1 {
    font-size: 4em;
    letter-spacing: 1px;
  }
  button.fade-in {
    margin-top: 30px;
    font-size: 1.5em;
  }

  h1.slide-in-right {
    margin: 10px 0 0px;
  }

  .about-info h3 {
    margin: 0;
    font-size: 3.75rem;
    text-align: left;
  }

  .about-info h4 {
    margin: 40px 0;
    font-size: 2rem;
  }

  .about-text {
    margin: 0 0 30px 0;
  }

  .about-content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  #about figure {
    width: 35%;
    margin-top: 0;
  }

  .about-info {
    width: 58%;
  }

  #work h2 {
    font-size: 2.25em;
  }

  #work h4 {
    font-size: 1.4em;
    line-height: 1.6em;
    margin: 10px 0;
    font-weight: 600;
  }
  #work p {
    font-size: 1.25em;
    line-height: 1.5em;
  }

  #work .content-wrapper {
    margin: 80px 0;
  }

  #work .gallery {
    justify-content: space-around;
  }

  #work .gallery-item {
    min-width: 490px;
    max-width: 35%;
  }

  .gallery-item .thumbnail {
    height: 350px;
  }

  .project-link {
    font-size: 1rem;
  }

  .language-wrapper p,
  .tool-wrapper p {
    font-size: 1rem;
  }

  #skills {
    padding-bottom: 120px;
  }

  #skills {
    padding-top: 120px;
  }

  #skills .content-wrapper {
    max-width: 900px;
  }

  .skills-header {
    margin-bottom: 40px;
  }

  .skill,
  .tool {
    width: 30%;
  }
}
